body {
    margin: 0;
    padding: 0;
    background-color: #076324;
}

#game-board {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    position: relative;
}

#cpu-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

#cpu-label {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}

#card-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.card {
    width: 79px;
    height: 109px;
    background-size: 1027%;
    background-position: center;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
}

.card-row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#face-up-row .card,
#cpu-face-up-row .card {
    margin-left: -49px;
}

#face-up-row .card:first-child,
#cpu-face-up-row .card:first-child {
    margin-left: 0;
}

#face-down-row .card,
#cpu-face-down-row .card {
    margin-left: 20px;
}

#face-down-row .card:first-child,
#cpu-face-down-row .card:first-child {
    margin-left: 0;
}

#player-label {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: white;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}