body {
    margin: 0;
    padding: 0;
    background-color: #076324;
}

#game-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.player-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgba(0, 0, 139, 0.3);
    padding: 10px;
}

#player1-container {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

#player2-container {
    bottom: 20px;
    right: 20px;
}

#player3-container {
    bottom: 20px;
    left: 20px;
}

#player4-container {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#player5-container {
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

#player6-container {
    top: 20px;
    right: 20px;
}

#player7-container {
    top: 20px;
    left: 20px;
}

#player8-container {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.card {
    width: 79px;
    height: 109px;
    background-size: 1027%;
    background-position: center;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
}

.card-row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.card-row .card {
    margin-left: -49px;
}

.card-row .card:first-child {
    margin-left: 0;
}

.pile-row {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    transform: translateX(5px);
}

.pile-row .card {
    margin-left: -60px;
    position: relative;
}

.pile-row .card:first-child {
    margin-left: 0;
}

.pile-row .card:nth-child(2) {
    left: -5px;
    top: -15px;
}

#play-area {
    width: 25%;
    height: 240px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 10px;
    margin: 20px;
}