body {
    margin: 0;
    padding: 0;
    background-color: #076324;
}

#game-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.player-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#player1-container {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

#player2-container {
    bottom: 0;
    right: 0;
}

#player3-container {
    bottom: 0;
    left: 0;
}

#player4-container {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

#player5-container {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

#player6-container {
    top: 0;
    right: 0;
}

#player7-container {
    top: 0;
    left: 0;
}

#player8-container {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

#play-area {
    width: 25%;
    height: 240px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 10px;
    margin: 20px;
}